{% extends 'book_stadium/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h2>Khôi phục mật khẩu</h2>
        <p>Nhập email của bạn ở phía dưới, và chúng tôi sẽ gửi đến cho bạn một hướng dẫn để thiết lập mật khẩu mới!</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-outline-info">Gửi email</button>
        </form>
    </div>
{% endblock %}
