{% extends 'book_stadium/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}
{% block content %}
    <p>Chúng tôi đã gửi email hướng dẫn bạn thiết lập mật khẩu mới! Nếu tài khoản của bạn có email trùng với email bạn nhập,
        bạn sẽ sớm nhận được email
    </p>

    <p>Nếu như bạn chưa nhận được email, hãy chắc chắn email bạn nhập trùng với email bạn dùng để đăng kí tài khoản!</p>
{% endblock %}
