{% extends 'book_stadium/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/book_stadium.css' %}">
{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <div id="warning" class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div id="success" class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <div class="container content">
        <div class="overview">
            {% if stadium_search_result %}
                <h1 id="title">Kết quả tìm kiếm</h1>
                {% for stadium in stadium_search_result %}
                    <div class="day shadow">
                        <h2>Ngày: {{ stadium.ngay }}</h2>
                        <hr>
                        {% for key, stadiumTimeframe in stadium.khung_gio.items %}
                            <div class="stadium-timeframe">
                                <h3>{{ key }}</h3>
                                <div class="list-of-stadium">
                                    {% for stadiumInfor in stadiumTimeframe %}
                                        <div class="card shadow style" style="width: 18rem;">
                                            <div class="hover-img">
                                                <img class="card-img-top" src="{{stadiumInfor.anh}}" alt="Card image cap">
                                                <div class="book-stadium-btn">
                                                    <div class="card-body">
                                                        <p class="card-text">Tên: {{ stadiumInfor.ten }}</p>
                                                        <hr>
                                                        <p class="card-text">Địa chỉ: {{ stadiumInfor.dia_chi }}</p>
                                                        <hr>
                                                    </div>
                                                    <button  class="order-btn" stadium-name="{{stadiumInfor.ten}}" onclick="">Đặt sân</button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <p class="card-text">Tên: {{ stadiumInfor.ten }}</p>
                                            <hr>
                                            <p class="card-text">Địa chỉ: {{ stadiumInfor.dia_chi }}</p>
                                            <hr>
                                            <p class="card-text">Số điện thoại: {{ stadiumInfor.sdt }}</p>
                                            <hr>
                                            </div>
                                            <button>
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                Chi tiết
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <h1 id="title">Các sân và khung giờ còn trống</h1>
                {% for stadium in page_obj %}
                    <div class="day shadow">
                        <h2>Ngày: {{ stadium.ngay }}</h2>
                        <hr>
                        {% for key, stadiumTimeframe in stadium.khung_gio.items %}
                            <div class="stadium-timeframe">
                                <h3>{{ key }}</h3>
                                <div class="list-of-stadium">
                                    {% for stadiumInfor in stadiumTimeframe %}
                                        <div class="card shadow style" style="width: 18rem;">
                                            <div class="hover-img">
                                                <img class="card-img-top" src="{{ stadiumInfor.anh }}" alt="Card image cap">
                                                <div class="book-stadium-btn">
                                                    <div class="card-body">
                                                        <p class="card-text">Tên: {{ stadiumInfor.ten }}</p>
                                                        <hr>
                                                        <p class="card-text">Địa chỉ: {{ stadiumInfor.dia_chi }}</p>
                                                        <hr>
                                                    </div>

                                                    <button class="order-btn" stadium-name="{{ stadiumInfor.ten }}" user-name="{{ user.username }}" user-phone-number="{{ user.phone_number }}" time-frame="{{ stadiumInfor.khung_gio_dat }}" onclick="">Đặt sân</button>

                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <p class="card-text">Tên: {{ stadiumInfor.ten }}</p>
                                            <hr>
                                            <p class="card-text">Địa chỉ: {{ stadiumInfor.dia_chi }}</p>
                                            <hr>
                                            <p class="card-text">Số điện thoại: {{ stadiumInfor.sdt }}</p>
                                            <hr>
                                            </div>
                                            <button>
                                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                                <a href="{% url 'stadium_detail' stadiumInfor.id %}">Chi tiết</a>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="view-all-stadium" href="{% url 'search_stadium' %}">Xem tất cả...</a>
                            <hr>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="pagination">
                    <div class="number-of-page">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1" >Trang đầu</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}" >Trang trước</a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-info mb-4" href="?page={{num}}" >{{ num }}</a>
                            {% else %}
                                <a class="btn btn-outline-info mb-4", href="?page={{ num }}" >{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}" >Trang sau</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}" >Trang cuối</a>
                        {% endif %}
                    </div>

                </div>
            {% endif %}

        </div>
        <div class="form-submit">
            <div class="form-search">
                <div class="dropdown search dropdown-style">
                    <button class="btn btn-secondary search-btn-dropdown" type="button" id="dropdownMenuButton">
                        <a>Tìm kiếm</a>
                        <span class="fas fa-caret-down first"></span>
                    </button>
                    <div class="search-show shadow" aria-labelledby="dropdownMenuButton">
                        <form method="GET" action="">
                            <div class="form-style">

                                <div class="form-group">
                                    <label for="stadium-name-search">Tên sân </label>
                                    <input type="text" name="stadium-name-search" class="form-control" id="stadium-name-search" placeholder="Tên sân" value="">
                                </div>

                                <div class="form-group">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" name="address-search" class="form-control" id="address" placeholder="Địa chỉ" value="">
                                </div>

                                <div class="form-group">
                                    <label for="day">Ngày</label>
                                    <input type="text" name="day-search" class="form-control" id="day" placeholder="Nhập ngày" value="{{page_obj.0.ngay}}">
                                </div>

                                <div class="form-group">
                                    {{ order_form.time_frame|as_crispy_field }}
                                </div>

                                <div class="submit-btn">
                                    <button type="submit" class="btn btn-secondary mt-3">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="form-order">
                <div id="dropdown-btn" class="dropdown search dropdown-style">
                    <button class="btn btn-secondary order-btn-dropdown" type="button" id="dropdownMenuButton">
                        <a>Đặt sân</a>
                        <span class="fas fa-caret-down first"></span>
                    </button>
                    <div id="dropdown-form" class="order-show shadow" >
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-style">
                                {{order_form|crispy}}
                                    <div class="submit-btn">
                                        <button type="submit" class="btn btn-secondary mt-3">Đặt</button>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade " id="notification-success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Thông báo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p>Đặt sân thành công, vui lòng chờ chủ sân duyệt!</p>
               <p>Hãy gọi điện đến chủ sân để đảm bảo lịch đặt của bạn đã được tiếp nhận và được duyệt nhanh hơn!</p>
               <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!</p>
            </div>
            <div class="modal-footer book_stadium">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade " id="notification-failed" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Thông báo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p>Khung giờ bạn chọn đã hết sân!</p>
               <p>Vui lòng chọn khung giờ khác!</p>
            </div>
            <div class="modal-footer book_stadium">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/book_stadium.js' %}" type="text/javascript"></script>
{% endblock %}
