{% extends 'book_stadium/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_stadium.css' %}">
{% endblock %}
{% block content %}
<div class="alert alert-primary mt-3 " role="alert">
    Hãy nhập thông tin sân của bạn
</div>
<div class="add-stadium shadow">
  <form action="{% url 'create_stadium' %}" method="post" enctype="multipart/form-data">
    <h1 class="pt-5">Thêm sân</h1>
    {% csrf_token %}
    {% for input in form %}
    <div class="form-group pt-4">
      {{input.label}}
      {{input}}
    </div>
    {% endfor %}
    <input type="submit" value="Thêm" class="btn btn-primary mt-4">
  </form>

</div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/create_stadium.js' %}"></script>
{% endblock %}
