{% extends 'book_stadium/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/owner.css' %}">
{% endblock %}

{% block content %}

{% for orders in all_orders %}

    <h1>{{orders.ngay}}</h1>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Khung giờ</th>
            <th scope="col">Còn trống</th>
            <th scope="col">Người đặt</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for time, value in orders.khung_gio.items %}
            <tr>
                <td>{{time}}</td>
                <td>{{value.con_trong}}</td>
                <td>
                    {% for users in value.nguoi_dat %}
                        <p>{{users.sdt}}({{users.ten}})</p>
                    {% endfor %}
                </td>
                <td>
                    {% for users in value.nguoi_dat %}
                        {% if users.da_duyet %}
                        <p>Đã duyệt</p>
                        {% else %}
                        <form method="POST" action="{% url 'accepted' users.order_id %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" value="Duyệt">
                        </form>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endfor %}

{% endblock %}
{% block javascript %}
<script src="{% static 'js/owner.js' %}" type="text/javascript"></script>
{% endblock %}
