{% extends 'book_stadium/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/stadium_detail.css' %}">
{% endblock %}
{% block content %}
    <div id="message">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="container stadium-detail">
        {% if stadium.owner != user %}
            <input type="hidden" id="current-user" value="is not owner">
        {% endif %}
        <input type="hidden" id="user-id" value="{{ user.pk }}">
        <h1 class="stadium-name pt-2">{{ stadium.name }}</h1>
        <input type="hidden" id="stadium-id" value="{{ stadium.pk }}">
        <h2 class="col-5">
            Thông tin chung
        </h2>
        <img class="stadium-img" src="{{ stadium.image.url }}" alt="stadium-image">
        <div class="form-info">
            <div class="save-or-delete-form">
                <form action="" method="POST" class="stadium-form-detail" id="stadium-form-detail" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if stadium.owner == user %}
                        {% for input in form_detail.visible_fields %}
                            <div class="form-group mt-4">
                                <div class="inputField">
                                    {{ input|as_crispy_field }}
                                    <i data-name="{{input.auto_id }}" class="fas fa-pen-square"></i>
                                </div>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="form_type" value="form_detail">
                        <div class="save-and-delete-btn">
                            <input type="submit" id="saveDetailBtn" class="btn btn-primary" disabled="true" value="Lưu thông tin" />
                            {% if stadium.owner == user %}
                                <input class="stadium-form-delete-btn btn btn-danger" onclick="turnOnDeleteModal()" value="Xóa" />
                            {% endif %}
                        </div>
                    {% else %}
                        {% for input in form_detail_for_user.visible_fields %}
                            <div class="form-group mt-4">
                                <label for="exampleInputEmail1">{{ input.label }} </label>
                                <div class="inputField">
                                    {{ input }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div class="form-timeframe">
                <h2>
                Các khung giờ
                </h2>
                <form action="{% url 'stadium_detail' stadium.id %}" method="POST" class="stadium-form-time-frames"
                id="stadium-form-time-frames">
                {{ form_time_frame.management_form }}
                {% csrf_token %}
                <table class="content-table">
                    <thead class="">
                    <tr>
                        <th>Khung giờ</th>
                        <th class="">Giá tiền</th>
                        <th id="">Trạng thái phục vụ</th>
                        {% if stadium.owner == user %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for form in form_time_frame %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <tr class="">
                            <td>
                                {{ form.time_frame }}
                            </td>
                            <td>
                                <div class="">
                                    {{ form.price }}
                                </div>
                            </td>
                            <td>
                                {% if stadium.owner == user %}
                                    <span class="">{{ form.is_open }}</span>
                                {% else %}
                                    {% if form.is_open.value == False %}
                                        <span>Đóng cửa</span>
                                    {% else %}
                                        <span>Mở cửa</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% if stadium.owner == user %}
                                <td>
                                    <i data-name="{{ form.price.auto_id }}" data-check="{{ form.is_open.auto_id }}" class="fas fa-pen-square"></i>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="hidden" name="form_type" value="form_time">
                {% if stadium.owner == user %}
                    <button type="submit" id="saveTimeFramesBtn" class="btn btn-primary mt-5 mb-5" disabled="true">Lưu khung giờ</button>
                {% endif %}
                </form>
            </div>
        </div>
        {% if stadium.owner != user %}
            <div class="back-btn">
                <a class="btn btn-secondary" href="{% url 'book_stadium' %}">Quay lại</a>
            </div>
        {% endif %}

        <div class="comments-section mt-5">
            <h3 class="rating-title">Đánh giá sân</h3>
            <hr>
            <div class="average-users-rating">
                <button class="btn btn-primary star-rate-btn" id="users_rated">Tất cả</button>
                <button class="btn btn-primary star-rate-btn" id="five_star" star-type="5">5 sao</button>
                <button class="btn btn-primary star-rate-btn" id="four_star" star-type="4">4 sao</button>
                <button class="btn btn-primary star-rate-btn" id="three_star" star-type="3">3 sao</button>
                <button class="btn btn-primary star-rate-btn" id="two_star" star-type="2">2 sao</button>
                <button class="btn btn-primary star-rate-btn" id="one_star" star-type="1">1 sao</button>
            </div>

            <div class="all-comments" id="all-comments">
            </div>

            {% if user_vote_permission.can_rate %}
                <div id="stadium-rate" class="stadium-comments">
                    <form class="shadow" id="comment-form" method="POST">
                        <h4>Đánh giá sân</h4>
                        {% csrf_token %}
                        <div class="star-rating" id="star-rating">
                            <span class="fa fa-2x fa-star" id="five-star"></span>
                            <span class="fa fa-2x fa-star" id="four-star"></span>
                            <span class="fa fa-2x fa-star" id="three-star"></span>
                            <span class="fa fa-2x fa-star" id="two-star"></span>
                            <span class="fa fa-2x fa-star" id="one-star"></span>
                        </div>
                        {{ comment_form.comment|as_crispy_field }}
                        <input type="hidden" name="post" value="form-comment">
                        <button id="comment-btn" class="btn btn-primary" type="submit">Bình luận</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="modal fade " id="delete-form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Lưu ý</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc là muốn xóa sân không?</p>
                </div>
                <div class="modal-footer">
                    <form class="form-accept" method="POST" action="">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="delete_input">
                        <input type="submit" class="btn btn-danger" value="Có">
                    </form>
                    <input type="submit" class="btn btn-secondary" data-bs-dismiss="modal" value="Hủy">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit-rate-form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Lưu ý</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="" id="edit-rated-form" method="POST">
                        <h4>Đánh giá sân</h4>
                        {% csrf_token %}
                        <div class="star-rated" id="star-rated">
                            <span class="fa fa-2x fa-star" id="five-star-rated"></span>
                            <span class="fa fa-2x fa-star" id="four-star-rated"></span>
                            <span class="fa fa-2x fa-star" id="three-star-rated"></span>
                            <span class="fa fa-2x fa-star" id="two-star-rated"></span>
                            <span class="fa fa-2x fa-star" id="one-star-rated"></span>
                        </div>
                        {{ comment_form.comment|as_crispy_field }}
                        <input type="hidden" name="put" value="form-comment">
                        <button id="edit-comment-btn" class="btn btn-primary" type="submit">Chỉnh sửa</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-secondary" data-bs-dismiss="modal" value="Hủy">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/stadium_detail.js' %}"></script>
{% endblock %}
