@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.container-1 {
    width: 100%;
    margin: auto;
}

.navbar a.logo {
    width: 60px;
    margin-left: 5%;
}

.navbar a.logo img {
    width: 100%;
}

.navbar {
    background-image: linear-gradient(
        to right,
        rgb(121, 119, 119),
        rgb(163, 163, 163),
        rgb(163, 163, 163),
        rgb(121, 119, 119)
    );
}

.navbar > ul {
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.modal-header.base {
    width: 100%;
    background-color: #555;
    color: white;
}

.modal-footer.base {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #6c757d;
}

a:hover {
    color: black;
}

.modal-body.base select {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 100%;
}

.modal button {
    margin-top: 20px;
}
.modal i {
    margin-left: 5px;
    margin-right: 5px;
}

section {
    display: flex;
    height: auto;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    left: 0;
    top: 76px;
    background: rgb(104, 103, 103);
    color: rgb(255, 255, 255);
    transition: 1s;
    z-index: 2;
}

.sidebar ul {
    width: 100%;
    height: 100%;
    padding: 0;
}

.sidebar ul.parent li {
    list-style: none;
    padding: 0;
    /* border-bottom: 1px solid rgb(151, 151, 151); */
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 40px;
    display: block;
    width: 100%;
    font-size: 30px;
    line-height: 60px;
    position: relative;
}

.sidebar ul ul {
    /* display: none; */
}

.sidebar ul ul li a {
    font-size: 25px;
    padding-left: 60px;
}

.sidebar ul li a span {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    transition: transform 0.5s;
}

.sidebar ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.sidebar ul li a:hover {
    color: rgb(51, 50, 50);
    border-left: 3px solid rgb(34, 33, 33);
}

.col {
    display: flex;
    height: 100vh;
    margin-left: 300px;
    margin-top: 75px;
    transition: 1s;
}

.dropdown-menu.show {
    display: block;
    right: 0%;
}

.active {
    background-color: rgb(135, 134, 134);
    border-left: 3px solid rgb(167, 167, 167);
}

.username-dropdown a {
    color: black;
}

.notification-dropdown a {
    color: black;
}

.dropdown .notification-dropdown.show .notification {
    height: 300px;
    overflow-y: scroll;
    color: black;
}

a#all-notification-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(245, 229, 209);
}

.alert {
    width: 100%;
    text-align: center;
}

.show-sidebar {
    z-index: 1;
    color: #000000;
    position: fixed;
    top: 75px;
    left: 0;
    padding: 20px;
}

#show-sidebar-btn {
    cursor: pointer;
    font-size: 40px;
}

#show-sidebar-btn:hover {
    color: #76797c;
}

.checkbox {
    display: none;
    position: absolute;
}

.checkbox:checked ~ .sidebar {
    left: -300px;
}

.checkbox:checked ~ .col {
    margin-left: 0;
}

.checkbox:not(:checked) ~ .sidebar {
    left: 0;
}

#times-icon {
    position: absolute;
    right: 18px;
    top: 7px;
}

#times-icon:hover {
    cursor: pointer;
    color: #000000;
}
