* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    display: flex;
    flex-direction: column;
    height: auto;
}

.overview {
    width: 80%;
    padding: 2%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.day {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #e4e3e3;
}

.list-of-stadium {
    display: flex;
}

.list-of-stadium {
    padding-left: 1%;
}

.stadium-timeframe h3 {
    height: 35px;
    text-align: start;
    color: rgb(221, 183, 137);
}

.stadium-detail {
    margin-right: 40px;
}

.style {
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.style button {
    width: 35%;
    height: 35px;
    border-radius: 7px;
    background: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

.card.style button:hover {
    background-color: #e4e3e3;
}

#title {
    text-align: start;
    margin-bottom: 3%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-submit {
    width: 30%;
    position: fixed;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn.style-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-search {
    width: 65%;
    margin-bottom: 2%;
}

.form-order {
    width: 100%;
}

.form-search {
    margin-top: 60px;
}

.form-search form {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.form-search .search-btn-dropdown,
.form-order .order-btn-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-search form button {
    width: 30%;
}

.submit-btn {
    text-align: center;
}

.form-style {
    width: 80%;
    margin: auto;
}

.book-stadium-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s easy;
    opacity: 0;
}

.hover-img {
    position: relative;
}

.hover-img:hover .book-stadium-btn {
    opacity: 1;
}

.modal-footer.book_stadium {
    justify-content: flex-end;
}

.view-all-stadium {
    text-align: end;
}
