.add-stadium{
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(182, 158, 158);
    
}

.add-stadium .form-group{
    width: 100%;
}

.add-stadium input{
    text-align: left;
}

button {
    color: #0d6efd;
}