.add-stadium{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    
}

.add-stadium .form-group{
    width: 100%;
}

.add-stadium input{
    text-align: left;
}

button {
    color: #0d6efd;
}