.col {
    display: block;
}

.overview {
    width: 100%;
    padding: 2%;
}

.overview h1 {
    text-align: center;
    margin-bottom: 3%;
}

.history-table {
    width: 60%;
}

.history-filter {
    width: 20%;
}

.history-filter > h2 {
    background: #2c3e50;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.history-filter > form {
    padding: 10%;
}

.history-booked {
    display: flex;
    justify-content: space-around;
}

.content-table {
    border-collapse: collapse;
    min-width: 1100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #2c3e50;
    color: #dddddd;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 5px solid #2c3e50;
}
