
.form-group {
    width: 100%;
    margin-bottom: 20px;;
}

button {
    margin-top: 20px;
}

.card {
    height: 600px;
    margin-left: 60px;
    margin-top: 40px;
}

.accepted-btn {
    padding: 0.5px;
    width: 50px;

}

.delete-btn {
    padding: 0.5px;
    width: 50px;
    height: 27px;
    margin-left: 24px;
}

.col {
    display: flex;
    flex-direction: column;
}

.table {
    width: 90%;
    margin: auto;
}

.order-date {
    margin-top: 40px;
    margin-left: 20px;
}

.form {
    margin-bottom: 10px;

}



.crud-btn {
    display: flex;
}

.accepted input{
    margin-left: 10px;
}

.form-confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.modal-footer {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

