.col {
    display: block;
}

.content-table {
    border-collapse: collapse;
    min-width: 1100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 20px 415px;
}

.content-table thead tr {
    background-color: #2c3e50;
    color: #dddddd;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 5px solid #2c3e50;
}

.fas {
    cursor: pointer;
}

.fa-check {
    color: #3aa0ef;
}

i.delete-order {
    color: #ec1515;
    margin-left: 20px;
}

.crud-btn {
    display: flex;
}

p#accepted {
    background-color: #2c3e50;
    color: white;
    border-radius: 10px 10px;
    width: 70px;
    text-align: center;
}

.accepted-btn {
    padding: 0.5px;
    width: 50px;
}

.delete-btn {
    padding: 0.5px;
    width: 50px;
    height: 27px;
    margin-left: 24px;
}

.update-btn {
    padding: 10px 10px;
}

.update-position {
    display: flex;
}

h1.order-date {
    text-align: center;
}
