.stadium-detail {
    width: 80%;
    margin: auto;
}

.stadium-detail .form-group {
    width: 100%;
}

.add-stadium input {
    text-align: left;
}

.inputField {
    display: flex;
    align-items: flex-end;
}

i {
    margin-left: 10px;
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(122, 122, 122);
    color: #555;
    margin: 3% 0;
    text-align: start;
}

.stadium-img {
    width: 100%;
    height: 25%;
}

.save-or-delete-form {
    position: relative;
}

.save-and-delete-btn {
    padding: 2%;
    text-align: center;
}

.stadium-form-delete-btn {
    width: 20%;
}

.stadium-form-detail button {
    margin-right: 15%;
}

.form-timeframe {
    margin-top: 5%;
}

.back-btn {
    text-align: center;
}

#div_id_comment {
    width: 70%;
}

#comment-form {
    padding: 6%;
}

#comment-form button {
    margin: 1%;
}

.comments-section {
    width: 80%;
    margin: auto;
    margin-bottom: 20%;
    border: 2px solid black;
}

.all-comments {
    width: 80%;
    margin: 5% 11%;
    padding: 3%;
    background: #e4e3e3;
}

.checked {
    color: orange;
}

.hover {
    color: orange;
}

.star-rating span,
.star-rated span {
    float: right;
}

.star-rating span:hover,
.star-rating span:hover ~ span,
.star-rated span:hover,
.star-rated span:hover ~ span {
    color: #fd4;
}

.average-users-rating {
    width: 80%;
    margin: auto;
    text-align: center;
}

.rating-title,
.notification-title {
    padding: 2%;
}

.content-table {
    border-collapse: collapse;
    min-width: 870px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 20px 415px;
}

.content-table thead tr {
    background-color: #2c3e50;
    color: #dddddd;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 5px solid #2c3e50;
}
